body {
  background-color: skyblue;
  background-image: linear-gradient(to bottom right, skyblue, #8000804f);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.result {
  height: 100px;
  background-color: whitesmoke;
  width: 100%;
  border-radius: 10px 10px 0 0;
  text-align: right;
}

.result p {
  font-size: 40px;
  margin: 5px;
  padding-right: 10px;
  color: skyblue;
}

.calculator-body {
  max-width: 300px;
  margin: auto;
  padding: 10px;
}

.button {
  padding: 10px;
  display: block;
  background-color: whitesmoke;
  border-radius: 0 0 10px 10px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin: 5px;
  background-color: white;
  box-shadow: -3px 1px 1px #0000000f;
  color: skyblue;
}
button:focus {
  outline: none;
}
